*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: black;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
}

.nav-link{
    color: #fff;
    margin-left: 30px;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.search{
    width: 350px;
    border: 1px solid rgb(214, 209, 209);
    overflow: hidden;
    border-radius: 40px;
}
.search input{
    width: 300px;
    height: 40px;
    border: none;
    font-size: 15px;
    padding-left: 20px;
    outline: none;
}
.fa-solid{
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
}

.main{
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    margin-top: 95px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.card-img-top{
    width: 155px;
    height: 155px;
    padding-top: 2px;
}
.c-style{
    width: 20%;
    height: 300px;
    text-align: center;
    border: 1px solid rgb(231, 231, 225);
    margin-left: 1px;
    margin-bottom: 4px;
    background-color: rgb(216, 216, 211);

}

.c-style:hover{
    width: 20%;
    height: 300px;
    text-align: center;
    border: 1px solid rgb(231, 231, 225);
    margin-left: 1px;
    margin-bottom: 4px;
    background-color: #757272;
}

.subnav{
    width: 100%;
    height: 30px;
    margin-top: 60px;
    background-color: rgb(147, 147, 150);
}
.subnav a{
    text-decoration: none;
    color: black;
    padding-left: 150px;
}
.subnav a:hover{
    color: cyan;
}
.btn{
    background-color: black;
    color: #fff;
    border: none;
}

.btn:hover{
    background-color: rgb(147, 147, 150);
    color: black;
}

body{
    background:  url('https://cdn.create.vista.com/api/media/small/282025264/stock-photo-background-illustration-abstraction-black-silver-colors');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.title{
    /* background-color: #fff; */
}

.detprod{
    display: flex;
}