{% extends 'header.html' %}
{% load static %}
{% block titile %} Aerona {% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock %}
{% block content %}
    <div class="subnav">
        {% for i in cat %}
        <a href="/categories/{{i.id}}">{{ i.cat_name }}</a>
        {% endfor %}
    </div>
    <div class="main">
        {% for i in prod %}
        <div class="c-style">
            <img class="card-img-top" src="media/{{i.image}}" alt="Card image cap">
            <div class="card-body">
                <div class="title">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">Rs/- {{ i.price }}</p>
                </div>
                <a href="/detail/{{i.id}}" class="btn btn-primary">SHOP NOW</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}