{% extends 'header.html' %}
{% load static %}
{% block titile %} Aerona {% endblock %}
{% block styles %} <link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endblock %}
{% block content %}
    <div class="subnav">
        {% for i in cat %}
        <a href="/categories/{{i.id}}">{{ i.cat_name }}</a>
        {% endfor %}
    </div>
    <div class="main">
        <div class="jumbotron">
            <h1 class="display-4">Hello, Valuable Customer</h1>
            <p class="lead">Please select the payment method</p>
            <hr class="my-4">
            <div class="prodet">
                <p class="lead">Your Product details</p>
                <p class="lead">{{ prod.title }} of Price {{ prod.price }}/- from AERONA BRAND</p>
            </div>
            <hr class="my-4">
            <div class="paymethod">
                <p>Google pay</p>
                <p>Debit card</p>
                <p>Credir card</p>
                <p>Cash</p>
            </div>
            <a class="btn btn-primary btn-lg" href="#" role="button">Pay</a>
        </div>
    </div>
{% endblock %}